.btn-deleteContact, .btn-editContact {
	margin-left: 5px;
	margin-right: 5px;
}

.btn-deleteContact{
	color: red;
}
tr td, tr th {
	text-align: center !important;
}

#btnAddContact{
margin-bottom:20px;
}

progress{
	margin-top: 100px;
}






